
.regular {
    border: 0;
    padding: 1em;
    width: 80%;
    margin-bottom: 2em;
}
.submit {
    border: 0;
    display: block;
    padding: 1em 3 em;
    background: red;
    color: #333;
    margin-bottom: 1em;
}
