
.regular {
    border: 0;
    padding: 1em;
    width: 80%;
    margin-bottom: 2em;
}
.submit {
    border: 0;
    display: block;
    padding: 1em 3 em;
    background: red;
    color: #333;
    margin-bottom: 1em;
}
.alert {
    background: #efd9d1;
    color: brown;
    padding: 1em;
    font-size: 1rem;
}

.btn-success {
    background-color: #944e6c;
    color: white;
    border: 0;
    border-radius: 1.5px;
    padding: 15px;
}
