<div class="container dark">
    <div class="column">
        <p>Add a Quote</p>
    </div>
    <div class="column">
        <p>Quote list quoteCount quotes</p>
    </div>
</div>
<div class="container light">
<div class="column">
    <p class="form-caption">Enter your favorite quote:</p>
    
   
    <!-- the form -->
    <app-quotes-form (addQuote)='addNewQuote($event)'></app-quotes-form>
    
</div>
<div class="column">
    <div class="quotes-container" *ngFor="let item of quotes; let i = index">
        <div class="card">
            <div class="quote-info">
                {{ item.name }} posted: {{ item.postedDate|timePassed }}
        <app-quote-details [quote]='item' (isComplete)="completeQuote($event, i)"></app-quote-details>
            </div>
        </div>
    </div>
    
</div>
</div>
