.container {
    display: grid;
    grid-template-columns: 50% auto;
}



.light {
    background: #8FBC8F;
    min-height: 100vh;
    background: linear-gradient(to right top, #8FBC8F, #8caa8c);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* quote field */


.quotes-container {
    display: flex;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 2px;
  margin: 20px;
  padding: 20px;
  box-shadow: 6px 6px 6px rgba(122, 122, 122, 0.5);
  justify-content: space-between;
}
.quote-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #2F4F4F;
    font-weight: 500;
    opacity: 0.8;
  }


  /* Inputs */
