main {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .glass {
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
  }
.container {
    display: grid;
    grid-template-columns: 50% auto;
}
.column {
    padding: .4em 1.3em;
}
.dark {
    background: #2F4F4F;
    color: wheat;
}
.light {
    background: #8FBC8F;;
}
input.regular {
    border: 0;
    padding: 1em;
    width: 80%;
    margin-bottom: 2em;
}
input.submit {
    border: 0;
    display: block;
    padding: 1em 3 em;
    background: white;
    color: #333;
    margin-bottom: 1em;
}
.quotes-container {
    display: flex;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 1rem;
  margin: 2rem 0rem;
  padding: 2rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  justify-content: space-between;
}
.quote-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
