.container {
    display: grid;
    grid-template-columns: 50% auto;
}



.light {
    background: #8FBC8F;
    min-height: 100vh;
    background: #9dab86;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* quote field */


.quotes-container {
    display: flex;
  background: #ded7b1;
  border-radius: 2px;
  margin: 20px;
  padding: 20px;
  box-shadow: 6px 6px 6px rgba(122, 122, 122, 0.7);
  justify-content: space-between;
}
.quote-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #433d3c;
    font-size: 1.1rem;
    font-weight: 500;
    opacity: 0.8;
  }
  .user {
    font-weight: bold;
  }
  .form-caption {
    font-size: 1.25rem;
    font-weight: bold;
  }

  /* Inputs */
