<main class="dark">
   
    <div class="container light">
    <div class="column">
        <p class="form-caption">Enter your favorite quote:</p>
        
       
        <!-- the form -->
        <app-quotes-form (addQuote)='addNewQuote($event)'></app-quotes-form>
        
    </div>
    <div class="column">
        <div class="quotes-container" *ngFor="let item of quotes; let i = index">
            <div class="card">
                <div class="quote-info">
                    {{ item.name }} posted: {{ item.postedDate|timePassed }}
            <app-quote-details [quote]='item' (isComplete)="completeQuote($event, i)"></app-quote-details>
                </div>
            </div>
        </div>
        
    </div>
    </div>
</main>